.text {
  margin-top: 32px;
  width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7d8899;
}

.block {
  margin-top: 63px;
  display: flex;
  align-items: flex-end;
}

.input {
  margin-right: 17px;
  padding: 10px 16px;
  width: 348px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #dadee6;
  border-radius: 8px;
  color: #fff;
}

input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #7d8899;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 45px;
  background: #06eae1;
  border-radius: 8px;
}

.button span {
  margin-right: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #1e232a;
}
